.heading {
  background-color: var(--black);
  padding-top: 6rem;
  padding-bottom: 1rem;
  text-align: center;
  color: var(--white);
}

.image-frame,
.product-section > p,
.products {
  grid-column: start / end;
  text-align: center;
}

.image-frame > img {
  border-radius: var(--border-radius);
}

.product-section > p {
  margin: 1rem 0;
}

.item {
  display: grid;
  place-items: center;
  row-gap: 2rem;
}
