.footer {
  background-color: var(--black);
  text-align: center;
  height: 625px;
  position: relative;
  padding: 0 1.8rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.footer > hr {
  top: 0;
  height: 4px;
  width: 100px;
  background-color: var(--light-brown);
  border: none;
  position: absolute;
}

.footer-links {
  height: 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.footer-links > a {
  color: var(--white);
  font-weight: 700;
}

.paragraph,
.copyright {
  color: var(--white);
  opacity: 0.5;
}

.social-media-links {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
