* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
}

/* MOBILE FIRST SITE*/

section {
  min-height: 100vh;
  width: 100%;
  background-color: blue;

  display: grid;
  grid-template-columns:
    [margin-start] 25px [start] repeat(8, [col-start] 1fr [col-end])
    [end] 25px [margin-end];
}
