.number-step {
  background-color: var(--gray);
  width: max-content;
  display: flex;
  width: 6rem;

  align-items: center;
  justify-content: space-around;
}

.minus,
.plus {
  background-color: transparent;
}

.minus:hover,
.plus:hover {
  color: var(--light-brown);
}

.number {
  font-size: 13px;
}
